{% import 'common/inputs.j2' as common_input %}

<input type="number" step=".01" name="{{ name }}" id="{{ name }}" {% if default %} value="{{ default }}" {% else %} value="0" {% endif %} class="form-control">
