{% import 'common/inputs.j2' as common_input %}

{% set displayed = namespace(value=0) %}
<div id="{{item["id"] + "." + current["id"]}}.div">
{% for subitem in current["value"] %}
        <div class="row" id="{{item["id"] + "." + current["id"] + ".list" + loop.index0 | string }}">
            <div class="col-sm-12">{{common_input.input(item["id"] + "." + current["id"] + "list" + loop.index0 | string, current["value"][loop.index0]) }} </div>
        </div>
        {% set displayed.value = displayed.value + 1 %}
{% endfor %}
{% if displayed.value == 0 %}
    <div class="row" id="{{item["id"] + "." + current["id"]}}.list0">
        <div class="col-sm-6">{{common_input.input(item["id"] + "." + current["id"] + "list0") }} </div>
    </div>
{% endif %}
</div>