{% extends 'base.j2' %}

{% block title %}
Page introuvable
{% endblock %}

{% block main_page %}
    <div class="card bg-danger text-white shadow">
        <div class="card-body">
            <p>La page <strong>{{requested}}</strong> n'existe pas. Vous pouvez revenir à la <a href="/">page d'accueil</a>.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        {% if on_target %}
        <img src="{{ url_for('static', filename= 'images/site/404_4target.jpg')}}" width="500vw" alt="Erreur 404 — page introuvable">
        {% else %}
        <img src="{{ url_for('static', filename= 'images/site/404.jpg')}}" width="500vw" alt="Erreur 404 — page introuvable">
        {% endif %}
    </div>
    
{% endblock %}