{% extends 'base.j2' %}

{% block js %}
    <script>

    let elements_advanced = document.querySelectorAll('[id^="advanced_"]');
    elements_advanced.forEach(element => {
        let checkAll = true;

        // Initialisation de DataTables
        let table = new DataTable(`#${element.id}`, {
            colReorder: true,
            layout: {
                top1: {
                    searchPanes: {
                        cascadePanes: true
                        {% if "responsive_addon" in content["all_layout"]%}
                        , columns: {{content["all_layout"]["responsive_addon"]["columns"]}}
                        {% endif %}
                    }
                },
                topStart: {
                    buttons: [
                        {
                            text: 'Check All',
                            action: function (e, dt, node, config) {
                                if (checkAll) {
                                    $(`#${element.id} input[type="checkbox"]`).prop('checked', true);
                                    $(node).text('Uncheck All');
                                    checkAll = false;
                                } else {
                                    $(`#${element.id} input[type="checkbox"]`).prop('checked', false);
                                    $(node).text('Check All');
                                    checkAll = true;
                                }
                            }
                        },
                        {
                            text: 'Export',
                            action: function (e, dt, node, config) {
                                // Ne fait rien lorsque "Export" est cliqué
                            },
                            split: ['pdf', 'excel', 'print', 'copy']
                        },
                        {
                            text: 'View',
                            action: function (e, dt, node, config) {
                                // Ne fait rien lorsque "Export" est cliqué
                            },
                            split: [
                                {
                                    text: 'Show 10 items',
                                    action: function (e, dt, node, config) {
                                        dt.page.len(10).draw();
                                    }
                                },
                                {
                                    text: 'Show 25 items',
                                    action: function (e, dt, node, config) {
                                        dt.page.len(25).draw();
                                    }
                                },
                                {
                                    text: 'Show 50 items',
                                    action: function (e, dt, node, config) {
                                        dt.page.len(50).draw();
                                    }
                                },
                                {
                                    text: 'Show 100 items',
                                    action: function (e, dt, node, config) {
                                        dt.page.len(100).draw();
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            columnDefs: [
                {
                    targets: '_all', // Cibler la colonne par son index
                    render: function (data, type, row) {
                        if (type === 'sp') {
                            let cleanData = data
                            .replace(/<\/?[^>]+(>|$)/g, '') // Supprime toutes les balises HTML
                            .replace(/(<br\s*\/?>)/gi, '') // Supprime les <br> et espaces supplémentaires
                            .normalize('NFKD') // Normalise les caractères Unicode
                            .replace(/[^\x00-\x7F]/g, '') // Supprime les caractères non-ASCII
                            .split(',')
                            .map(item => item.trim()); // Nettoie les espaces autour des éléments
                            return cleanData;
                        }
                        return data;
                    },
                    searchPanes: {
                        orthogonal:'sp'
                    }
                }
            ]
        });
    });
    </script>

{% endblock %}

{% block title %}
{% endblock %}

{% block main_page %}

{% if history is not defined %}
    {% set history = None %}
{% endif %}

{% set submenu_count = namespace(value=0) %}
{% set path_count = namespace(value=0) %}

{%if content|length == 1 %} 
    {# This is size of 1 because the modals are always here #}
    <div class="text-center">
        <img src="{{ url_for('static', filename= 'images/status/unauthorized.svg')}}" width="500vw">
        <h1 class="error-title">Unauthorized</h1>
        <p class="fs-5 text-gray-600">There is no tools that you are authorized to use in this section</p>
    </div>
{% else %}
    {# Start with the modals #}
    {% for modal in content["modals"] %}
    <div class="modal fade" id="{{modal["id"]}}" tabindex="-1" aria-labelledby="Coucou" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-scrollable modal-full" role="document">
            <div class="modal-content">
                {% if "header" in modal %}
                <div class="modal-header">
                <h5 class="modal-title">{{ modal["header"] }}</h5>
                </div>
                {% endif %}
                <div class="modal-body">
                {# Each module is displayed in its block #}
                {% for module in modal["content"] %}
                    {% if module != "modals" %}
                        {# Module layouts #}
                        {% for layout in modal["content"][module]["layouts"] %}

                            {# Subtitle #}
                            {% if layout["subtitle"] %}
                                <h3 class="text-primary mt-5">{{layout["subtitle"]}}</h3>
                            {% endif %}

                            {# Content #}
                            {% if layout["type"] == "VERT" %}
                                {{ disp_layouts.display_vertical_layout(layout["columns"], layout["containers"], layout["align"]) }}
                            {% elif layout["type"] == "TABLE" %}
                                {{ disp_layouts.display_table_layout(layout["header"], layout["lines"]) }}
                            {% endif %}
                        {% endfor%}
                    {% endif %}
                {% endfor%}
            </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {# Each module is displayed in its block #}
    {% for module in content %}
        {% if module != "modals" and module != "all_layout"%}
            <div class="card">
                {# Possibility to add a header to the card #}
                <div class="card-header">
                </div>

                {# Module content #}
                <div class="card-body">
                    {% if content[module]["display"] %}
                        {% if "name_override" in content[module] %}
                        <h1>{{ content[module]["name_override"] }}</h1>
                        {% else %}
                        <h1>{{ module }}</h1>
                        {% endif %}
                    {% endif %}

                    {# Form information #}
                    {% if target %}
                        <form action="{{ url_for(target) }}" method="POST" enctype="multipart/form-data" onkeydown="return event.key !== 'Enter'">
                    {% endif %}
                    {# Module layouts #}
                    {% for layout in content[module]["layouts"] %}

                        {# Subtitle #}
                        {% if layout["subtitle"] %}
                            <h3 class="text-primary mt-5">{{layout["subtitle"]}}</h3>
                        {% endif %}

                        {# Content #}
                        {{ disp_layouts.display_layout(layout) }}
                    {% endfor%}

                    {% if target %}
                    </form>
                    {% endif %}

                </div>

                {# Module footer #}
                {% if content[module]["type"] == "threaded_action" or content[module]["type"] == "worfklow" %}
                    <div class="card-footer alert-light-secondary">
                        <h4>Action progress</h4>
                        <div class="table-responsive">
                            <table style="--bs-table-bg: transparent; --bs-table-striped-bg: transparent; --bs-table-hover-bg: transparent; --bs-table-active-bg: transparent; --bs-table-border-color: rgb(220, 220, 220);" class="table-light table table-striped mb-0" id="{{module}}_result">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div id="progress_result">
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor%}
{% endif %}
{% endblock %}