{% import 'displayer/layouts.j2' as disp_layouts %}

{% set submenu_count = namespace(value=0) %}
{% set path_count = namespace(value=0) %}

{# Each module is displayed in its block #}
{% for module in content %}
    {# Module layouts #}
    {% for layout in content[module]["layouts"] %}

        {# Subtitle #}
        {% if layout["subtitle"] and layout["type"] != "SPACER"%}
            <h3 class="text-primary mt-5">{{layout["subtitle"]}}</h3>
        {% endif %}

        {# Content #}
        {% if layout["type"] == "VERT" %}
            {{ disp_layouts.display_vertical_layout(layout["columns"], layout["containers"], layout["align"], layout["spacing"], layout["height"], layout["background"]) }}
        {% elif layout["type"] == "HORIZ" %}
            {{ disp_layouts.display_horizontal_layout(layout["columns"], layout["containers"], layout["align"], layout["spacing"]) }}
        {% elif layout["type"] == "TABLE" %}
            {{ disp_layouts.display_table_layout(layout["header"], layout["lines"], layout["responsive"], layout["responsive_type"]) }}
        {% elif layout["type"] == "TABS" %}
            {{ disp_layouts.display_tabs_layout(layout["header"], layout["lines"]) }}
        {% elif layout["type"] == "SPACER" %}
              {% if layout["subtitle"] %}
                <div class="divider"><div class="divider-text"><h6>{{layout["subtitle"]}}</h6></div></div>
              {% else %}
                <hr>
              {% endif %}
            
        {% endif %}
    {% endfor%}
{% endfor%}
