{% import 'common/inputs.j2' as common_input %}
{% import 'common/controls.j2' as common_controls %}
{% import 'displayer/layouts.j2' as disp_layouts %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block stylesfirst %}{% endblock %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/mdi/css/materialdesignicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/datatables.net/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/sweetalert/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/filepond/filepond.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('common.assets', asset_type="images", filename= 'logo/favicon.png') }}" type="image/png">

    <style>
        #overlay {
            position: fixed; /* Cover the whole screen */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
            display: none; /* Hidden by default */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            z-index: 1000; /* Make sure it's above other content */
            display: flex; /* Use Flexbox to center the image */
        }
        #overlay img {
            max-width: 80%; /* Limit image size, keeping some margin */
            max-height: 80%;
            margin: auto; /* Center the image within the flex container */
        }
    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <style>
        /* Centrage et dimensionnement de l'image */
        #seasonal-image {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }

        #seasonal-image img {
            max-width: 500px;
            width: auto; /* Conserve les proportions */
            height: auto; /* Conserve les proportions */
        }
    </style>

</head>

{# Modal content is always present. In our case we are displaying it here, juste before the real content #}
{% if topbarItems["display"] %}
    {% for item in topbarItems["left"] + topbarItems["center"] + topbarItems["right"] %}
        {% if item["type"] == "modal" %}
            <div class="modal fade" id="modal_{{item["id"]}}" tabindex="-1" aria-labelledby="{{item["modal_title"]}}" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-scrollable modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{item["modal_title"]}}">{{item["modal_title"]}}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                            </button>
                        </div>
                        <div class="modal-body" id="{{item["id"]}}_content">
                            {{item["modal_text"]}}
                        </div>
                        <div class="modal-footer">
                            {{item["modal_footer"]}}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<body class="theme-light" style="overflow-y: auto">
    <div id="app">                   
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active ps ps--active-y">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path><g transform="translate(-210 -1)"><path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path><circle cx="220.5" cy="11.5" r="4"></circle><path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path></g></g></svg>
                                <div class="form-check form-switch fs-6">
                                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                                    <label class="form-check-label"></label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path></svg>
                            </div>

                            <h3><i class="mdi mdi-{{app["icon"]}}"></i>{{app["name"]}}</h3>
                            <h6>v{{app["version"]}}</h6>
                        </div>
                        <div class="sidebar-toggler  x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="sidebar-menu">
                    <ul class="menu">
                    {% for sidebarItem in sidebarItems %}
                        {% if sidebarItem.isTitle %}
                        <li class="sidebar-title">{{sidebarItem.name}}</li>
                        {% else %}
                            <li class="sidebar-item {{ 'active' if (endpoint and page_info and ((sidebarItem.endpoint in endpoint) and (sidebarItem.cat in page_info)) ) }} {{'has-sub' if "submenu" in sidebarItem }}">
                                <a href="{{ url_for(sidebarItem.url) if sidebarItem.url!=undefined else '#'}}" class='sidebar-link'>
                                    <i class="mdi {{ sidebarItem.icon }}"></i>
                                    <span>{{sidebarItem.name}}</span>
                                </a>
                                {% if "submenu" in sidebarItem %}
                                    <ul class="submenu {{ 'active' if (endpoint and page_info and ((sidebarItem.endpoint in endpoint) and (sidebarItem.cat in page_info)) ) }}">
                                    {% for sub in sidebarItem.submenu %}
                                        <li class="submenu-item {% if "subsubmenu" in sub %} has-sub {% endif %} {{ 'active' if (endpoint and page_info and ((sub.url in endpoint) and (sub.name in page_info)) ) }}">
                                            {% if "." in sub.url%}
                                                <a href="{{ url_for(sub.url) }}?{{ sub.param }}">{{ sub.name }}</a>
                                            {% else %}
                                                <a href="#" class="submenu-link">{{ sub.name }}</a>
                                            {% endif %}

                                            {% if "subsubmenu" in sub %}
                                                <ul class="submenu submenu-level-2">
                                                {% for subsub in sub.subsubmenu %}
                                                    <li class="submenu-link {{ 'active' if (endpoint and page_info and ((subsub.url in endpoint) and (subsub.name in page_info)) ) }}">
                                                        <a href="{{ url_for(subsub.url) }}?{{ subsub.param }}">{{ subsub.name }}</a>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                        {% endif %}
                                        </li>
                                        
                                    {% endfor %}
                                    </ul>
                                {% endif %}

                                
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>

                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                <div class="ps__rail-y" style="top: 0px; height: 1467px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 1121px;"></div></div>
            </div>
        </div>
        
        
        <div id="main" class="layout-navbar navbar-fixed">
            {% if topbarItems["display"] %}
            <header class="mb-3">
                <nav class="navbar navbar-expand navbar-light navbar-top">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block mx-1">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-flex justify-content-start" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    {% for item in topbarItems["left"] %}
                                            {% if item["type"] == "button" %}
                                                {% if item["link"] %}<a href="{{item["link"]}}">{% endif %}
                                                <button class="btn btn-{{item["color"]}} mx-1" id="{{item["id"]}}"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2>{{item["text"]}}</button>
                                                {% if item["link"] %}</a>{% endif %}
                                            {% elif item["type"] == "modal" %}
                                                <button type="button" class="btn btn-{{item["color"]}} mx-1" data-bs-toggle="modal" data-bs-target="#modal_{{item["id"]}}" id="{{item["id"]}}">
                                                    <h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1">{{item["text"]}}</i></h2>
                                                </button>
                                            {% elif item["type"] == "thread" %}
                                                <button class="btn btn-{{item["color"]}} mx-1" id="thread_status">
                                                    <div class="row">
                                                        <div class="col-2 text-center"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2></div>
                                                        <div class="col-10 text-center" id="thread_run">No running task</div>
                                                    </div>
                                                </button>                            
                                            {% endif %}
                                        {% endfor %}
                                </ul>

                        </div>
                        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    {% for item in topbarItems["center"] %}
                                        {% if item["type"] == "button" %}
                                            {% if item["link"] %}<a href="{{item["link"]}}">{% endif %}
                                            <button class="btn btn-{{item["color"]}} mx-1" id="{{item["id"]}}"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2>{{item["text"]}}</button>
                                            {% if item["link"] %}</a>{% endif %}
                                        {% elif item["type"] == "modal" %}
                                            <button type="button" class="btn btn-{{item["color"]}} mx-1" data-bs-toggle="modal" data-bs-target="#modal_{{item["id"]}}" id="{{item["id"]}}">
                                                <h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2>{{item["text"]}}
                                            </button>
                                        {% elif item["type"] == "thread" %}
                                            <button class="btn btn-{{item["color"]}} mx-1" id="thread_status">
                                                <div class="row">
                                                    <div class="col-2 text-center"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2></div>
                                                    <div class="col-10 text-center" id="thread_run">No running task</div>
                                                </div>
                                            </button>
                                        {% endif %}                        
                                    {% endfor %}
                                </ul>

                        </div>
                        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    {% for item in topbarItems["right"] %}
                                        {% if item["type"] == "button" %}
                                            {% if item["link"] %}<a href="{{item["link"]}}">{% endif %}
                                            <button class="btn btn-{{item["color"]}} mx-1" id="{{item["id"]}}"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2>{{item["text"]}}</button>
                                            {% if item["link"] %}</a>{% endif %}
                                        {% elif item["type"] == "modal" %}
                                            <button type="button" class="btn btn-{{item["color"]}} mx-1" data-bs-toggle="modal" data-bs-target="#modal_{{item["id"]}}" id="{{item["id"]}}">
                                                <h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2>{{item["text"]}}
                                            </button>
                                        {% elif item["type"] == "thread" %}
                                            <button class="btn btn-{{item["color"]}} mx-1" id="thread_status">
                                                <div class="row">
                                                    <div class="col-2 text-center"><h2><i class="mdi mdi-{{item["icon"]}} text-light mx-1"></i></h2></div>
                                                    <div class="col-10 text-center" id="thread_run">No running task</div>
                                                </div>
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <ul class="navbar-nav mr-auto">
                                {% if topbarItems["login"] %}
                                        <a href="{{url_for('common.login') }}"><button class="btn btn-secondary mx-1">
                                        <div id="topbar_target" class="float-end align-items-center">
                                            <div class="col avatar avatar-lg">
                                                {% if user %}
                                                    <img src="{{ url_for('common.assets', asset_type="images", filename='users/' + user + '.jpg') }}" width="48px">
                                                    {% else %}
                                                    <img src="{{ url_for('common.assets', asset_type="images", filename='users/GUEST.jpg') }}" width="48px">
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if user%}
                                                    {{user}}  
                                                {% else %}
                                                    GUEST
                                                {% endif%}
                                            </div>
                                        </div>
                                        </button></a>
                                    {% endif %}
                                </ul>
                        </div>
                    </div>                 
                </nav>
            </header>
            {% endif %}

		
            <div id="main-content">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>{% block title %}{% endblock %}</h3>
                            <p class="text-subtitle text-muted">{% block subtitle %}{% endblock %}</p>
                        </div>
                    </div>
                </div>
                
                {% block main_page %}{% endblock %}
            </div>

            <footer>
                <div class="footer clearfix p-5 text-muted float-end">
                    <div class="float-start">
                        <p>{{footer}}<br>Framework by ESD<br>Template by Mazer</p>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename= 'vendors/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/datatables.net/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/sweetalert/sweetalert2.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/filepond/filepond.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js') }}"></script>
    
    <script>FilePond.registerPlugin(FilePondPluginImagePreview, FilePondPluginFileValidateType);

    // Filepond: Image Preview
    const filePondImage = document.querySelectorAll(".image-preview-filepond");
    filePondImage.forEach(element => {
        FilePond.create(element, {
            labelIdle: `Drag & Drop image <span class="filepond--label-action">Browse</span>`,
            credits: null,
            allowImagePreview: true,
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            acceptedFileTypes: ["image/png", "image/jpg", "image/jpeg"],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Faites la détection de type personnalisée ici et retournez avec une promesse
                resolve(type);
            }),
            storeAsFile: true,
        });
    });

    // Filepond: Base
    filePondBase = document.querySelectorAll(".basic-filepond");
    filePondBase.forEach(element => {
        FilePond.create(element, {
            credits: null,
            storeAsFile: true,
        });
    });

    // Filepond: Folder
    filePondFolder = document.querySelectorAll(".folder-filepond");
    filePondFolder.forEach(element => {
        FilePond.create(element, {
            credits: null,
            storeAsFile: true,
            labelIdle: `Drag & Drop a zip file <span class="filepond--label-action">Browse</span>`,
            acceptedFileTypes: ['application/x-zip-compressed']
        });
    });


    tinymce.init({
        selector: 'textarea',  // change this value according to your HTML
        plugins: 'lists',
        a_plugin_option: true,
        a_configuration_option: 400,
        promotion:false,
        height: 250,
        resize: true,
        menubar: '',
        toolbar: "undo redo | blocks fontsizeinput | bold italic | align numlist | bullist numlist outdent indent", // Note: if a toolbar item requires a plugin, the item will not present in the toolbar if the plugin is not also loaded.
        });

    </script>
    <script src="{{ url_for('static', filename= 'js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/app.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/site.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/dark.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/sidebar.js') }}"></script>
    {% for script in javascript %}
        <script src="{{ url_for('common.assets', asset_type="js", filename= script) }}"></script>
    {% endfor %}
    {% block js %}{% endblock %}

<script>
    // Tableau pour stocker les touches du Konami Code
    const konamiCode = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'];
    let konamiIndex = 0;

    // État pour savoir si l'animation est active
    let animationActive = sessionStorage.getItem('konamiActivated') === 'true';

    if (animationActive) {
        console.log("Animation déjà activée dans cette session.");
        activateThemeForCurrentMonth(); // Continue l'animation si déjà activée
    }

    // Écoute des touches clavier
    document.addEventListener('keydown', (event) => {
        if (event.key === konamiCode[konamiIndex]) {
            konamiIndex++; // Passe à la prochaine touche
            if (konamiIndex === konamiCode.length) {
                // Konami Code validé
                konamiCodeActivated();
                konamiIndex = 0; // Réinitialise le compteur
            }
        } else {
            konamiIndex = 0; // Réinitialise si la séquence est brisée
        }
    });

    function konamiCodeActivated() {
        console.log("Konami Code activé !");
        // Marquer le Konami Code comme activé pour cette session
        sessionStorage.setItem('konamiActivated', 'true');
        animationActive = true;
        // Déclencher le thème basé sur le mois
        activateThemeForCurrentMonth();
    }

    function activateThemeForCurrentMonth() {
        const month = new Date().getMonth() + 1; // Les mois commencent à 0 en JavaScript
        let theme = 'default'; // Thème par défaut
        let imageFilename = ''; // Nom de l'image

        // Déterminer le thème en fonction du mois
        if (month === 12 || month === 1) {
            theme = 'winter';
            imageFilename = 'winter.jpg';
        } else if (month === 4 || month === 5) {
            theme = 'easter';
            imageFilename = 'easter.jpg';
        } else if (month === 10 || month === 11) {
            theme = 'autumn';
            imageFilename = 'autumn.jpg';
        } else if (month >= 6 && month <= 8) {
            theme = 'summer';
            imageFilename = 'summer.jpg';
        } else if (month == 2 || month == 3) {
            theme = 'carnival';
            imageFilename = 'carnival.jpg';
        } else if (month == 9) {
            theme = 'harvest';
            imageFilename = 'harvest.jpg';
        }

        // Ajouter l'image saisonnière et les flocons
        addSeasonalImage(imageFilename);
        startSnowflakes(theme);
    }

    function addSeasonalImage(imageFilename) {
        if (window.location.href === "http://127.0.0.1:5000/") {
            // Vérifier si une ancienne image existe, la supprimer si nécessaire
            const existingImageDiv = document.getElementById('seasonal-image');
            if (existingImageDiv) {
                existingImageDiv.remove();
            }

            // Créer dynamiquement l'élément div pour contenir l'image
            const seasonalImageDiv = document.createElement('div');
            seasonalImageDiv.id = 'seasonal-image';

            // Ajouter l'image
            const seasonalImage = document.createElement('img');
            seasonalImage.src = "{{ url_for('static', filename='images/site/') }}" + imageFilename;
            seasonalImage.alt = "Seasonal Image";

            // Ajouter l'image dans la div, puis la div dans le body
            seasonalImageDiv.appendChild(seasonalImage);
            document.body.appendChild(seasonalImageDiv);
        }
    }

    function startSnowflakes(theme) {
        // Fonction pour créer un flocon
        function createSnowflake(theme) {
            const snowflake = document.createElement('div');
            snowflake.classList.add('snowflake');

            // Choisir les emojis selon le thème
            let emojis = [];
            switch (theme) {
                case 'easter': // Pâques
                    emojis = ['🥚', '🐣', '🐰', '🌸'];
                    break;
                case 'autumn': // Automne
                    emojis = ['🍂', '🍁', '🌰', '🎃'];
                    break;
                case 'summer': // Été
                    emojis = ['☀️', '🏖️', '🍉', '🌴', '🦀', '🌊'];
                    break;
                case 'carnival': // Carnaval
                    emojis = ['🎭', '🎉', '🤹‍♂️', '🎺', '🎡'];
                    break;
                case 'harvest': // Fête des moissons
                    emojis = ['🌽', '🌾', '🍇', '🥖', '🍷'];
                    break;
                default: // Hiver par défaut
                    emojis = ['❄'];
                    break;
            }

            // Sélection aléatoire de l'emoji
            snowflake.textContent = emojis[Math.floor(Math.random() * emojis.length)];

            // Position aléatoire
            snowflake.style.left = Math.random() * window.innerWidth + 'px';

            // Taille aléatoire
            const size = Math.random() * 20 + 10; // Entre 10px et 30px
            snowflake.style.fontSize = size + 'px';

            // Durée d'animation aléatoire
            const duration = Math.random() * 5 + 3; // Entre 3s et 8s
            snowflake.style.animationDuration = duration + 's';

            // Opacité aléatoire
            snowflake.style.opacity = Math.random();

            // Ajouter à la page
            document.body.appendChild(snowflake);

            // Supprimer après l'animation
            setTimeout(() => {
                snowflake.remove();
            }, duration * 1000);
        }

        setInterval(() => createSnowflake(theme), 200);
    }
</script>

<style>
    .snowflake {
        position: fixed;
        top: -50px;
        z-index: 9999;
        pointer-events: none;
        color: white;
        opacity: 0.8;
        animation: fall linear infinite;
    }

    @keyframes fall {
        0% {
            transform: translateY(0) rotate(0deg);
        }
        100% {
            transform: translateY(100vh) rotate(360deg);
        }
    }
</style>

</body>

</html>