{% extends 'base.j2' %}

{% block title %}
{{ t('error.internal_title') }}
{% endblock %}

{% block main_page %}
    <div class="card bg-danger text-white shadow">
        <div class="card-body">
            <p>{{ t('error.internal_text') }}</p>

            <pre class="mt-2">Traceback : {{traceback}}</pre>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        {% if on_target %}
        <img src="{{ url_for('static', filename= 'images/site/500_4target.png')}}" width="500vw" alt="{{ t('error.500_alt') }}">
        {% else %}
        <img src="{{ url_for('static', filename= 'images/site/500.jpg')}}" width="500vw" alt="{{ t('error.500_alt') }}">
        {% endif %}
    </div>
    
{% endblock %}