{% extends 'base.j2' %}

{% block title %}
Erreur interne du serveur
{% endblock %}

{% block main_page %}
    <div class="card bg-danger text-white shadow">
        <div class="card-body">
            <p>Le serveur a rencontré une erreur. Veuillez accéder à la page de signalement d'erreurs et décrire vos actions au moment de l'incident. Les fichiers journaux ont été complétés et seront envoyés avec votre rapport.</p>

            <pre class="mt-2">Traceback : {{traceback}}</pre>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        {% if on_target %}
        <img src="{{ url_for('static', filename= 'images/site/500_4target.png')}}" width="500vw" alt="Erreur 500 — erreur interne du serveur">
        {% else %}
        <img src="{{ url_for('static', filename= 'images/site/500.jpg')}}" width="500vw" alt="Erreur 500 — erreur interne du serveur">
        {% endif %}
    </div>
    
{% endblock %}