{% extends 'base.j2' %}

{% block title %}
Internal server error
{% endblock %}

{% block content %}
    <div class="card bg-danger text-white shadow">
        <div class="card-body">
            <div class="text-white-50 small">The server encountered an error. Please go to the error reporting page, and describe what you did while the error occured. Log files have been completed and will be sent with your bug entry.</div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <img src="{{ url_for('static', filename= 'images/site/500.jpg')}}" width="500vw">
    </div>
    
{% endblock %}