{% extends 'base.j2' %}

{% block title %}
Echec de l'opération
{% endblock %}

{% block content %}
    <div class="card bg-danger text-white shadow">
        <div class="card-body">
            <p>Echec</p>
            <div class="text-white-50 small">{{ message }}</div>
        </div>
    </div>
{% endblock %}