{% import 'common/inputs.j2' as common_input %}
{% import 'common/controls.j2' as common_controls %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ web_title }}</title>
    {% block stylesfirst %}{% endblock %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/mdi/css/materialdesignicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/table-datatable-jquery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/sweetalert/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/filepond/filepond.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendors/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename= 'images/logo/favicon.svg') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename= 'images/logo/favicon.png') }}" type="image/png">
    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>

        <div id="auth">
        
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <h3><i class="mdi mdi-{{app["icon"]}}"></i>{{app["name"]}}</h3>
                    </div>
                    <h1 class="auth-title">Log in.</h1>
                    <p class="auth-subtitle mb-5">Please select a user</p>

                    <form action="{{ url_for(target) }}" method="POST">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <select class="form-control form-control-xl" name="user" id="user">
                                    {% for user in users %}
                                        <option>{{ user }}</option>
                                    {% endfor %}
                                </select>
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" placeholder="Password" name="password">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>

                                
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block text-center">
                <div id="auth-right" class="d-flex align-items-center">
                        <img class="rounded-circle mx-auto" id="avatar" src="{{ url_for('common.assets', asset_type='images', filename='users/' + users[0] + '.jpg') }}" width="512px">
                </div>
            </div>

        </div>

    </div>
    <script src="{{ url_for('static', filename= 'vendors/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/sweetalert/sweetalert2.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/filepond/filepond.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'vendors/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js') }}"></script>
    <script>
        // Fonction pour mettre à jour l'image en fonction de la valeur sélectionnée
        function updateImage() {
            // Récupérer la référence de l'élément select
            var selectElement = document.getElementById("user");

            // Récupérer la référence de l'élément image
            var avatarElement = document.getElementById("avatar");

            // Récupérer la valeur sélectionnée dans le select
            var selectedUser = selectElement.value;

            // Ajouter une classe avec une opacité réduite
            avatarElement.classList.add("fade-out");

            // Définir un délai pour permettre à l'animation de se dérouler
            setTimeout(function() {
                // Mettre à jour l'attribut src de l'image avec la nouvelle valeur
                avatarElement.src = "/common/assets/images/?filename=users/" + selectedUser + ".jpg";

                // Retirer la classe pour réinitialiser l'opacité
                avatarElement.classList.remove("fade-out");
            }, 500); // Délai correspondant à la durée de la transition CSS (0.5s)
        }

        // Appeler la fonction au démarrage de la page
        document.addEventListener("DOMContentLoaded", updateImage);

        // Ajouter un écouteur d'événements sur le changement de valeur du select
        var selectElement = document.getElementById("user");
        selectElement.addEventListener("change", updateImage);
    </script>
    <script src="{{ url_for('static', filename= 'js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/app.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/site.js') }}"></script>
    {% for script in javascript %}
        <script src="{{ url_for('static', filename= 'js/' + script) }}"></script>
    {% endfor %}
    {% block js %}{% endblock %}
</body>

</html>