{% extends 'base.j2' %}

{% block title %}
{{ t('operation.success') }}
{% endblock %}

{% block main_page %}
    <div class="card bg-success text-white shadow">
        <div class="card-body">
            <h4><i class="mdi mdi-check-circle"></i> {{ t('operation.success') }}</h4>
            <p class="mb-3">{{ message }}</p>
            <a href="javascript:history.back()" class="btn btn-outline-light">
                <i class="mdi mdi-arrow-left"></i> {{ t('button.back') }}
            </a>
        </div>
    </div>
{% endblock %}