{% extends 'base.j2' %}

{% block title %}
Succès de l'opération
{% endblock %}

{% block main_page %}
    <div class="card bg-success text-white shadow">
        <div class="card-body">
            <p>Réussite</p>
            <div class="text-white-50 small">{{ message }}</div>
        </div>
    </div>
{% endblock %}