{% extends 'base.j2' %}

{% block title %}
Status
{% endblock %}

{% block main_page %}
{% for thread in threads%}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            {{ thread }}
        </h4>
        <div class="card-text" id="thread_{{ thread }}">
            {{threads[thread]}}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <form action="{{ url_for('singles.threads') }}" method="POST">
                {{common_input.hidden(thread, "")}}
                <button class="btn btn-light-primary">Kill thread</button>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}