{% import 'displayer/items.j2' as disp_item %}

{% macro display_layout(layout = [])%}
    {% if layout["type"] == "VERT" %}
        {{ display_vertical_layout(layout["columns"], layout["containers"], layout["align"], layout["spacing"], layout["height"], layout["background"], layout["user_id"], layout["style"]) }}
    {% elif layout["type"] == "HORIZ" %}
        {{ display_horizontal_layout(layout["columns"], layout["containers"], layout["align"], layout["spacing"], layout["user_id"]) }}
    {% elif layout["type"] == "TABLE" %}
        {{ display_table_layout(layout["header"], layout["lines"], layout["responsive"], layout["responsive_type"]) }}
    {% elif layout["type"] == "SPACER" %}
        <div><p style="margin-bottom:1cm;"></p></div>
          
    {% endif %}
{% endmacro %}

{% macro display_horizontal_layout(columns=[], containers = [], align = [], spacing = 0) %}
    TOCODE
{% endmacro %}

{% macro display_vertical_layout(columns=[], containers = [], align = [], spacing = 0, height = 0, background = none, user_id = none, style = none) %}
    <div class="row my-1 py-{{spacing}} align-items-center {% if background %}bg-{{background}}{% endif %} {% if style %}{{style}}{% endif %}" {% if user_id %} id="{{user_id}}"{% endif %} >
    {# For each columns #}
    {% for col in columns %}
        <div class="col-{{col}} text-{{align[loop.index0]}}">
        
        {# Display all the items in the containers one another #}
        {% for element in containers[loop.index0] %}
            {% if height %}
                <div style="height: {{ height * 50 }}px">
            {% endif %}
                {% if element["object"] == "item" %}
                    {{ disp_item.display_item(element) }}
                {% elif element["object"] == "layout" %}
                {#<div class="row">#}
                    {{ display_layout(element)}}
                {#</div>#}
                {% else %}
                    NOT SUPPORTED
                {% endif %}
            
            {% if height %}
                </div>
            {% endif %}
        {% endfor %}

        </div>
    {% endfor %}
    </div>

{% endmacro %}

{% macro display_table_layout(header=[], lines = [], responsive = None, responsive_type = None) %}    
    <div class="row m-1">
    <div class="table-responsive">
        <table class="table table-striped mb-0" 
                   {% if responsive %}
                        {% if responsive_type == "basic" %}
                        id="basic_{{ responsive }}"
                        {% elif responsive_type == "advanced" %}
                        id="advanced_{{ responsive }}"
                        {% else %}
                        id="unsuported_{{ responsive }}"
                        {% endif %}
                       
                   {% endif %}>
            <thead>
                <tr>
                    {% for head in header %}
                        <th>{{ head }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% if lines %}
                {% for line in lines %}
                    <tr>
                    {% for item in line %}
                        <td>
                            {% for element in item %}
                                {% if element["object"] == "item" %}
                                    {{ disp_item.display_item(element) }}
                                {% elif element["object"] == "layout" %}
                                    {{ display_layout(element)}}
                                {% else %}
                                    NOT SUPPORTED
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

            </table>
        </div>
    </div>
{% endmacro %}